<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00aba9">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

<!-- Facebook comments -->
{% if site.comments.provider and page.comments %}
    {% if site.comments.provider == "facebook" %}
    <meta property="fb:app_id" content="745272759466856" />
    <meta property="fb:admins" content="https://www.facebook.com/cfcurtis"/>
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />
    <meta property="og:image" content="{{ site.og_image }}" />
    {% endif %}
{% endif %}

<!-- end custom head snippets -->